:root {
  --orientation-x: 0deg;
  --orientation-y: 0deg;
  --card-height: 100px;
}

html, body {
  margin: 0px;
  scroll-snap-type: y mandatory;
  overflow-x: clip;
  touch-action: pan-y;
}

#game, #settings {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  perspective-origin: calc(50% - var(--orientation-y) * 200%) calc(50% + var(--orientation-x) * 200%);
  perspective: calc(15 * var(--card-height));
  scroll-snap-align: center;
}

.cards-v, .cards-h, .container, .card {
  transform-style: preserve-3d;
}

#hand1, #hand3 {
  height: var(--card-height);
}

#hand2, #hand4 {
  width: var(--card-height);
}

#board {
  flex: auto;
}

.container {
  border: 1px solid black;
  z-index: -1;
}

.cards-v {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.cards-h {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.card {
  position: absolute;
  height: var(--card-height);
  --pos-x: 0;
  --pos-y: 0;
  translate: calc(var(--pos-x) * 1px) calc(var(--pos-y) * 1px) 1px;
  transition: transform 0.2s ease-out;
  touch-action: none;
}

.card>*:first-child {
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
}

.card>*:last-child {
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card:not(.flipped) {
  transform: rotateX(calc(180deg));
}

#hand1 .card {
  transform: rotateX(calc(-90deg + var(--orientation-x))) translateY(calc(var(--card-height) * (-0.5)));
}

#hand3 .card {
  transform: rotateX(calc(90deg + var(--orientation-x))) translateY(calc(var(--card-height) * 0.5));
}

#hand4 .card {
  transform: rotateZ(90deg) rotateX(calc(90deg + var(--orientation-y))) translateY(calc(var(--card-height) * 0.5));
}

#hand2 .card {
  transform: rotateZ(90deg) rotateX(calc(-90deg + var(--orientation-y))) translateY(calc(var(--card-height) * (-0.5)));
}
